body{
    background-color: rgb(73, 73, 73);
}
.calculadora{
width: fit-content;
height: 350px;
margin: 50px auto;
border: 2px solid black;
padding: 8px;
background-color: rgb(1, 29, 190);
border-radius: 10px;
box-shadow: 15px 10px 0px rgb(54, 52, 52);
}

#display{
    width: 200px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid black;
    
}
.botones1{
    display: flex;
    justify-content: space-between;
}
#c{
    color: red;
}

#del{
    font-size: 18px;
}
input[type="button"]{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid black;
   
}
#display{
    font-size: 25px;
}

input:hover{
    cursor: pointer;
}

input[type="button"]:active{
transform: scale(1);
background-color: aquamarine;
color: white;
box-shadow: 5px 5px 10px -3px black;
}

